<header>
  <h1>Test Your Code</h1>

  <form>
    <label>Language:
      <select id="language">
        <option value="javascript">JavaScript</option>
      </select>
    </label>
    
    <label>Test Suite:
      <select id="runner">
        <option value="jasmine">Jasmine</option>
        <option value="mocha">Mocha</option>
        <option value="qunit">QUnit</option>
      </select>
    </label>
  </form>
</header>

<div id="results" class="results"></div>

<div class="tests">
  <h2>Tests</h2>
  <div id="tests" class="editor"></div>
</div>

<div class="source">
  <h2>Source</h2>
  <div id="source" class="editor"></div>
</div>

<iframe id="testRunner" class="hidden"></iframe>

<script type="text/x-handlebars-template" id="resultsTpl">
  <div class="passing-tests">
    <span>Passing Tests:</span>
    <output class="num-passes">{{stats.passes}}</output>
    {{#resultGraphic stats.passes}}{{/resultGraphic}}
  </div>
  <div>
    <span>Failing Tests:</span>
    <output class="num-failures">{{stats.failures}}</output>
    {{#resultGraphic stats.failures}}{{/resultGraphic}}
  </div>
  <ul>
  {{#each failures}}
    <li>
      <h2>{{title}}</h2>
      <p>{{err.msg}}</p>
    </li>
  {{/each}}
  </ul>
</script>

<script type="text/x-handlebars-template" id="testSuiteTpl">
  {{#each suites}}
    <option value="{{name}}">{{name}}</option>
  {{#each}}
</script>