<!doctype html>
<html>
<head>
  <title>Spec Runner</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="test-frameworks/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="test-frameworks/jasmine/jasmine-html.js"></script>
  <style>
    #results {
      background: #ddd;
    }
  </style>
</head>

<body>
  <h1>Tests</h1>

  <div id="insertHere">
    
  </div>
  <script type="text/javascript">      
    function loadJS() {
      eval( localStorage[ "src" ] );
      eval( localStorage[ "tests" ] );
    }
  </script>
</body>
</html>
