$control-collapse-width: 50em;

header {
  background: $header-background;
  color: $header-text;
  height: 100px;
  position: relative;

  h1 {
    @include rem(font-size, 1);
    letter-spacing: .3em;
    font-weight: normal;
    margin: 10px;
    text-transform: uppercase;
    color: $title-text;
    width: 21.5rem;
    float: left;
    padding: 15px 0 0 0;
    line-height: 1.3;
  }

  .sparkboxLogo {
    background: url(/images/sparkbox-type.png);
    text-indent: -999px;
    display: inline-block;
    width: 140px;
    height: 30px;
    margin: 0 13px 0 0;
    @include transform( translateY(-15px) );
  }

  @include sb-media($control-collapse-width) {
    height: 60px;
  }
}

.controlPanel {
  float: right;

  @include sb-media($control-collapse-width) {
    height: 100%;
    @include rem(width, 36);
  }
}
.controlPanel-iconButton {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: $gist-controls-text;
  font-size: 26px;
  position: relative;
  text-decoration: none;
}

.languageControls {
  background: $controls-background;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: left;

  @include sb-media($control-collapse-width) {
    background: none;
    position: relative;
    width: auto;
    padding-top: 20px;
  }
}

.languageControls-label {
  @include rem(font-size, .8);
}
.languageControls-option {
  @include rem(font-size, .8);
  margin: 0 20px 0 5px;
}

.githubControls {
  background: $controls-background;
  display: inline;
  padding-right: 20px;
  float: right;

  .controlPanel-iconButton {
    display: inline-block;
    margin-top: 15px;
  }
  .github-logout {
    margin-left: 8px;
  }

  .usersGists {
    position: absolute;
    background: #fff;
  }
}

.github-connect {
  display: block;
  padding: 15px 0 15px 24px;
  text-decoration: none;

  &:before {
    color: $gist-controls-text;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
}

.githubStateChange:before {
  @include transition(color, .5s);
  color: #222;
}

.avatar {
  float: left;
  height: 60px;
  margin-right: 5px;
}