/* Windows Metro Snap mode fix */
@-ms-viewport{
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#specRunner {
  display: none;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  padding: 0;
}
.hidden {
  display: none;
}

.results {
  @include rem( min-height, 3.5 );
  padding-top: 10px;
  width: 100%;

  > div {
    float: left;
    width: 50%;
    position: relative;
  }

  span {
    float: left;
    @include rem( width, 3.2 );
    @include rem( font-size, .6 );
    @include rem( padding, .4 );
  }

  %display {
    @include rem( font-size, 2 );
    float: left;
    margin: 0;
    font-weight: bold;

    &+output {
      @include rem( font-size, .1 );
      @include rem( padding-top, .4 );
      @include rem( padding-left, 5.8 );
      @include rem( min-height, 2.3 );
      letter-spacing: -.3em;
      line-height: 0.7em;
      margin-left: 5px;
      position: absolute;
      width: 100%;
      right: 0;
    }
  }

  .num-failures {
    @extend %display;
    color: $failed;

    &+output {
      color: $failed;
    }
  }
  .num-passes {
    @extend %display;
    color: $passed;

    &+output {
      color: $passed;
    }
  }

  .errorList {
    float: left;
    list-style: none;
    max-height: 2rem;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-left: 10px;

    li {
      padding: 10px 10px 10px;
      border-bottom: 1px solid #000;

      &:first-child {
        padding-top: 0;
      }
    }

    p {
      color: $failed;
    }

    &.show-more {

      &:before {
        content: "\e002";
        color: #888;
        position: absolute;
        left: 0;
        @include rem( top, .5 );

        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        // @include transition-property(transform);
        // @include transition-duration(.25s);
      }

      &:hover {
        display: block;
        overflow: visible;
        position: relative;
        z-index: 10;

        li {
          background: $results-background;

          &:last-child {
            border-radius: 0 0 5px 5px;
          }
        }

        &:before {
          // @include rotateZ(90deg);
        }
      }
    }
  }

  h2 {
    margin: 0;
    @include rem( font-size, 1 );
  }

  p {
    margin: 0;
    @include rem( font-size, .8 );
  }

  .compilationError {
    padding: 5px 10px;

    p {
      display: block;
    }
    span {
      display: block;
      width: 100%;
      @include rem(font-size, 1);
      padding: 0;
      color: $failed;
    }
  }

  @include sb-media( 52em ) {
    > div {
      width: 20%;
    }
  }
}

.CodeMirror {
  height: 100%;
  overflow: scroll;
}

.tests {
  clear: left;
}

.tests, .source {
  float: left;
  width: 100%;

  h2 {
    background: $editor-title-background;
    color: $editor-title-text;
    font-weight: normal;
    @include rem( font-size, 1 );
    padding: 5px 0 0 5px;
    margin: 0;
  }
}

@include sb-media( 60em ) {
  .tests, .source {
    width: 50%;
  }

  .tests {
    border-right: 1px solid $editor-border;
  }
}