$header-background: #222;
$controls-background: #333;
$title-text: #efefef;
$header-text: #aaa;


$gist-controls-text: #cacaca;

$passed: #128F17;
$failed: #DA230A;
$results-background: #fff;

$editor-title-background: #272822;
$editor-title-text: #F8F8F2;
$editor-border: #fff;