$control-collapse-width: 50em;
$small-screen-width: 363px;

header {
  background: $header-background;
  color: $header-text;
  overflow: hidden;
  position: relative;
  
  h1 {
    @include rem(font-size, 1);
    letter-spacing: .3em;
    font-weight: normal;
    margin: 10px;
    text-transform: uppercase;
    color: $title-text;
    width: 21.5rem;
    float: left;
    padding-top: 15px;
  }
  
  .sparkboxLogo {
    background: url(/images/sparkbox-type.png);
    text-indent: -999px;
    display: block;
    width: 140px;
    height: 30px;
    margin: 0px;
    @include sbmq($small-screen-width) {
      display: inline-block;
      margin: 6px 13px 6px 6px;

    }
    @include transform( translateY(-15px) );
  }
  
  @include sbmq($small-screen-width) {
      height: 100px;
  }

  @include sbmq($control-collapse-width) {
    height: 60px;
  }
}

.controlPanel {

  @include sbmq($small-screen-width){
    float: right;
  }
  
  @include sbmq($control-collapse-width) {
    height: 100%;
    @include rem(width, 35);
  }
}
.controlPanel-iconButton {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: $gist-controls-text;
  font-size: 26px;
  position: relative;
  text-decoration: none;
}

.languageControls {
  background: $controls-background;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: left;

  @include sbmq($small-screen-width) {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  
  @include sbmq($control-collapse-width) {
    background: none;
    position: relative;
    width: auto;
    padding-top: 20px;
  }
  @include sbmq($small-screen-width) {
  }
}

.languageControls-label {
  display: block;
  @include rem(font-size, .8);
  @include sbmq($small-screen-width) {
   display: inline; 
  }
}
.languageControls-option {
  @include rem(font-size, .8);
  margin: 0 20px 0 5px;
}

.githubControls {
  background: $controls-background;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;

  .controlPanel-iconButton {
    display: inline-block;
  }
  .github-logout {
    margin-left: 8px;
  }
}

.github-connect {
  display: block;
  text-decoration: none;

  &:before {
    color: $gist-controls-text;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
}

.avatar {
  float: left;
  height: 60px;
  margin-right: 5px;
}
