$default-feature: 'min-width: ' !default;
$breakpoint: false;

@mixin sbmq($theQuery, $serveToOldIE: true) {
  @if type-of( $theQuery ) == 'number' {
    $breakpoint: $default-feature + $theQuery;
  } @else {
    $breakpoint: $theQuery;
  }
  @media ( $breakpoint ) {
    @content;
  }
}
