//- extends layout
  
doctype 5
html
  head
    title Stuntman - Test Your Code
    link(rel='stylesheet', href='css/mq.css')
  body    
    //- block content
      
    header
      h1
        a.sparkboxLogo(href='//seesparkbox.com')
          | Sparkbox
        | Stuntman

      .controlPanel
        //- button.show-language-controls.controlPanel-iconButton(data-icon!='&#xe005;')
        //-   span.visuallyHidden
        //-     | Show Lanugage Controls
        form.languageControls
          label.languageControls-label
            | Language:
            select.languageControls-option#language
              option(value='coffeescript') CoffeeScript
              option(value='javascript') JavaScript
          label.languageControls-label
            | Test Suite:
            select.languageControls-option#runner
              option(value='jasmine') Jasmine
              option(value='mocha') Mocha
              option(value='qunit') QUnit
              
        .githubControls
          - if (!everyauth.loggedIn)
            a.github-connect(href='/auth/github', data-icon!='&#xe000;')
              span.visuallyHidden
                | Connect to Github
          
          - else
            img.avatar(src='#{everyauth.github.user.avatar_url}')
            button#save-gist.controlPanel-iconButton(data-icon!='&#xe003;')
              span.visuallyHidden
                | Save
            button#load-gist.controlPanel-iconButton(data-icon!='&#xe004;', data-name='#{everyauth.github.user.login}')
              span.visuallyHidden
                | Load
            a#github-logout.controlPanel-iconButton(href='/logout', data-icon!='&#xe001;')
              span.visuallyHidden
                | Logout
    div#results.results
    div.tests
      h2 Tests
      div#tests.editor
    div.source
      h2 Source
      div#source.editor
    iframe#testRunner.hidden
    script#resultsTpl(type='text/x-handlebars-template')
      | <div>
      |   <span>Passing Tests:</span>
      |   <output class="num-passes">{{stats.passes}}</output>
      |   {{#resultGraphic stats.passes}}{{/resultGraphic}}
      | </div>
      | <div>
      |   <span>Failing Tests:</span>
      |   <output class="num-failures">{{stats.failures}}</output>
      |   {{#resultGraphic stats.failures}}{{/resultGraphic}}
      | </div>
      | <ul class="errorList">
      |   {{#each failures}}
      |     <li>
      |       <h2>{{title}}</h2>
      |       <p>{{err.msg}}</p>
      |     </li>
      |   {{/each}}
      | </ul>
    script#editorErrorTpl(type='text/x-handlebars-template')
      | <p>
      |   <span>{{name}}</span>
      |   {{message}}
      | </p>
    script#testSuiteTpl(type='text/x-handlebars-template')
      | {{#each suites}}
      |   <option value="{{name}}">{{name}}</option>
      | {{/each}}
    script#gistsTpl(type='text/x-handlebars-template')
      | <ul>
      |   {{#each .}}
      |     <li><a href="{{url}}">{{description}}</a></li>
      |   {{/each}}
      | </ul>
    script(src="js/libs.js")
    script(src="js/testAllTheThings.js")
