//- extends layout
  
doctype 5
html
  head
    title Stuntman - Test Your Code
    link(rel='stylesheet', href='css/mq.css')
  body    
    //- block content
      
    header
      h1
        a.sparkboxLogo(href='//seesparkbox.com')
          | Sparkbox
        | Stuntman

      .controlPanel
        //- button.show-language-controls.controlPanel-iconButton(data-icon!='&#xe005;')
        //-   span.visuallyHidden
        //-     | Show Lanugage Controls
        form.languageControls
          label.languageControls-label
            | Language:
            select.languageControls-option#language
              option(value='coffeescript') CoffeeScript
              option(value='javascript') JavaScript
          label.languageControls-label
            | Test Suite:
            select.languageControls-option#runner
              option(value='jasmine') Jasmine
              option(value='mocha') Mocha
              option(value='qunit') QUnit
              
        .githubControls
          - if (!everyauth.loggedIn)
            a.github-connect(href='/auth/github', data-icon!='&#xe000;')
              span.visuallyHidden
                | Connect to Github
          
          - else
            img.avatar(src='#{everyauth.github.user.avatar_url}')
            button#save-gist.controlPanel-iconButton(title='Save Gist to Github', data-icon!='&#xe003;')
              span.visuallyHidden
                | Save
            button#load-gist.controlPanel-iconButton(title='Load Gist from Github', data-icon!='&#xe004;', data-name='#{everyauth.github.user.login}')
              span.visuallyHidden
                | Load
            a#github-logout.controlPanel-iconButton.github-logout(title='Logout', href='/logout', data-icon!='&#xe001;')
              span.visuallyHidden
                | Logout
    div#results.results
    div.tests
      h2 Tests
      div#tests.editor
    div.source
      h2 Source
      div#source.editor
    iframe#testRunner.hidden
      
    script#resultsTpl(type='text/x-handlebars-template')
      | <div>
      |   <span>Passing Tests:</span>
      |   <output class="num-passes">{{stats.passes}}</output>
      |   {{#resultGraphic stats.passes}}{{/resultGraphic}}
      | </div>
      | <div>
      |   <span>Failing Tests:</span>
      |   <output class="num-failures">{{stats.failures}}</output>
      |   {{#resultGraphic stats.failures}}{{/resultGraphic}}
      | </div>
      | <ul class="errorList">
      |   {{#each failures}}
      |     <li>
      |       <h2>{{title}}</h2>
      |       <p>{{err.msg}}</p>
      |     </li>
      |   {{/each}}
      | </ul>
    script#compilationErrorTpl(type='text/x-handlebars-template')
      | <div class="compilationError">
      |   {{{error}}}
      | </div>
    script#editorErrorTpl(type='text/x-handlebars-template')
      | <p>
      |   <span>{{name}}</span>
      |   {{message}}
      | </p>
    script#testSuiteTpl(type='text/x-handlebars-template')
      | {{#each suites}}
      |   <option value="{{name}}">{{name}}</option>
      | {{/each}}
    script#gistsTpl(type='text/x-handlebars-template')
      | <h2>Select a Gist to open</h2><ul class="usersGists">{{#each .}}<li><a class="user-gist" href="#" data-id="{{id}}">{{description}}</a></li>{{/each}}</ul>


    script(src="js/libs.js")
    script(src="js/stuntman.js")

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
      | ga('create', 'UA-40674355-1', 'jit.su');
      | ga('send', 'pageview');